<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Registrarse</title>
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/signin.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
   <div class="container">
   <h1 class="form-signin-heading">Registrarse</h1>
   </br>
	<form action="#" th:action="@{/demo/addcliente}" th:object="${user}" method= "post">
	Nombre:<input type="text" class="form-control" th:field="*{nombre}"/>
	</br>
	Apellido:<input type="text" class="form-control" th:field="*{apellido}"/>
	</br>
	Email: <input type="text" class="form-control" th:field="*{email}"/>
	</br>
	</br>
	<button class="btn btn-lg btn-primary btn-block" type="submit">
		<span class="glyphicon glyphicon-ok aria-hidden=true"></span>Enviar
	</button>
	<button class="btn btn-lg btn-warning btn-block" type="button">
		<a href="http://www.csinformatica.com/"><span class="glyphicon glyphicon-ok aria-hidden=true"></span>Volver</a>
	</button>
	</form>
   </div> <!-- /container -->
  </body>
</html>